body{
    margin: 0;padding: 0;
    background-color: #fff;
}
.el-main{padding-left: 0;padding-right: 0;}
.pointer{cursor: pointer;}

.btn-block{
    width: 100%;
}

.mgt-20px{margin-top: 20px;}
.mgr-5px{margin-right: 5px;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.float-right{float: right;}
.float-left{float: left;}
.no-border{border: 0;}
.el-card__header{font-weight: bold;}